<section class="tab" ng-controller="TabController as tab">
    <ul class="nav nav-pills">
      <li ng-class="{ active: tab.isSet(1) }">
        <a href ng-click="tab.setTab(1)">Description</a>
      </li>
      <li ng-class="{ active: tab.isSet(2) }">
        <a href ng-click="tab.setTab(2)">Specs</a>
      </li>
      <li ng-class="{ active: tab.isSet(3) }">
        <a href ng-click="tab.setTab(3)">Reviews</a>
      </li>
    </ul>
    <div ng-show="tab.isSet(1)">
      <h4>Description</h4>
      <blockquote>{{product.description}}</blockquote>
    </div>
    <div ng-show="tab.isSet(2)">
      <h4>Specs</h4>
        <ul class="list-unstyled">
          <li>
            <strong>Shine</strong>
            : {{product.shine}}</li>
          <li>
            <strong>Faces</strong>
            : {{product.faces}}</li>
          <li>
            <strong>Rarity</strong>
            : {{product.rarity}}</li>
          <li>
            <strong>Color</strong>
            : {{product.color}}</li>
        </ul>
    </div>
    <div ng-show="tab.isSet(3)">
      <h4>Reviews</h4>
      <li ng-repeat="review in product.reviews">
        <blockquote>
          <strong>{{review.stars}} Stars</strong>
          {{review.body}}
          <cite class="clearfix">—{{review.author}}</cite>
        </blockquote>
      </li>
     <review-form></review-form>
    </div>
</section>




